@page "/entrada"
@page "/salida"
@using CucoStore.Docs.Components.Modals
@using CucoStore.Docs.Interfaces
@using CucoStore.Docs.Models
@using CucoStore.Docs.ViewModels
@inject MovementsPageViewModel Model

@if (!AppData.Current.User.Permissions.Sales)
{
    <Forbbiden />
    return;
}


<Table Item="Movement" Items="Model.Movements" PageSize="10" OnItemSelected="OnselectedItem">
    <HeaderTemplate>
        <strong>Movimientos</strong>
    </HeaderTemplate>

    <ChildContent>
        <Column Item="Movement" Property="e => e.Date" Title="Fecha" Sortable Searchable Groupable />
        <Column Item="Movement" Property="e => e.User.Name" Title="Usuario" Sortable Searchable Groupable />
        <Column Item="Movement" Property="e => e.Concept" Title="Concepto" Sortable Searchable Groupable />
        <Column Item="Movement" Property="e => e.Type" Title="Tipo" Sortable Searchable Groupable />
        <Column Item="Movement" Property="e => e.Observations" Title="Observaciones" Sortable Searchable Groupable />
    </ChildContent>

</Table>
<Table Item="MovementPart" Items="Model.SelectedMovent.Parts" PageSize="10">
    <HeaderTemplate>
        <strong>Partes del movimiento</strong>
    </HeaderTemplate>

    <ChildContent>
        <Column Item="MovementPart" Property="e => e.Product.Code" Title="Código" Sortable Searchable Groupable />
        <Column Item="MovementPart" Property="e => e.Product.Name" Title="Producto" Sortable Searchable Groupable />
        <Column Item="MovementPart" Property="e => e.Quantity" Title="Cantidad" Sortable Searchable Groupable />
        <Column Item="MovementPart" Property="e => e.InitiallyStock" Title="Existencia inicial" Sortable Searchable Groupable />
        <Column Item="MovementPart" Property="e => e.NewStockB" Title="Existencia actual" Sortable Searchable Groupable />
        <Column Item="MovementPart" Property="e => e.Value" Title="Valor" Sortable Searchable Groupable />
    </ChildContent>

</Table>
<Button @onclick=@ShowModal BackgroundColor="TablerColor.Green">
    <Icon class="icon" Elements="@DemoIcons.Circle_plus" />
    Registrar
</Button>

@code
{
    [Inject] IModalService ModalService { get; set; }
    [Inject] TabBlazor.Services.TablerService TablerService { get; set; }
    [Inject] NavigationManager NavManager { get; set; }

    public async Task Refresh()
    {
        try
        {
            if (Model.IsLoading)
            {
                return;
            }
            Model.IsLoading = true;
            Model.Movements.Clear();
            Model.Movements.AddRange(await Movement.GetAll(Model.Type));
            //this.movementParts.AddRange(await MovementPart.GetAll());
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        finally
        {
            Model.IsLoading = false;
        }

    }

    protected override void OnAfterRender(bool firstrender)
    {
        @if (CucoStore.Docs.Data.AppData.Current.User.Id <= 0)
        {
            NavManager.NavigateTo("login");
        }
    }
    protected async Task ShowModal()
    {
        var component = new RenderComponent<MovementsView>().Set(x => x.Type, this.Model.Type);
        var result = await ModalService.ShowAsync($"Registrar {(Model.Type == 'S' ? "Salida" : "Entrada")}", component, new ModalOptions { Size = ModalSize.XLarge });

        if (!result.Cancelled)
        {
            await Refresh();
            StateHasChanged();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        if (NavManager.Uri.EndsWith("salida"))
        {
            Model.Type = 'S';
        }
        else
        {
            Model.Type = 'E';
        }
        await Refresh();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }



    private async Task OnselectedItem(Movement movement)
    {
        Model.SelectedMovent = movement;
        await Model.SelectedMovent.Load();
    }
}