@using Microsoft.AspNetCore.Components
@using Tabler.Docs.Components.Icons
@using Tabler.Docs.Interfaces
@using Tabler.Docs.Models
@using Tabler.Docs.ViewModels

<div class="row">
    <div class="col-lg-12">
        <div class="mb-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Descripción*:</label>
                        <input type="text" class="form-control" @bind="Model.Category.Description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a @onclick="Cancel" class="btn btn-link link-secondary" data-dismiss="modal">
        Cancelar
    </a>
    <a @onclick="Confirm" class="btn btn-primary ms-auto" data-dismiss="modal">
        <Icon class="icon" Elements="@DemoIcons.Circle_plus" />
        Confirmar
    </a>
</div>

@inject CategoryAddViewModel Model;
@inject IModalService ModalService
@code {
    private async Task Confirm()
    {

        var result = await ModalService.ShowAsync($"Confirme alta",
            new RenderComponent<DialogTest>().Set(x => x.Line1, "¿Dar de alta esta categoría"),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true });

        if (!result.Cancelled)
        {
            if (Category.GetByName(Model.Category.Description) is not null)
            {
                await ModalService.ShowAsync($"¡Alerta!",
                    new RenderComponent<DialogTest>().Set(x => x.Line1, "Ya existe una categoría con esta descripción"),
                    new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true });
                return;
            }
            Model.Category.Save();
            Model.Category = new Category();
            ModalService.Close(ModalResult.Ok());
        }
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }
}
