@using Microsoft.AspNetCore.Components
@using CucoStore.Docs.Components.Icons
@using CucoStore.Docs.Interfaces
@using CucoStore.Docs.ViewModels
@inject CustomerViewModel Model
@using Customer = CucoStore.Docs.Models.Customer

<div class="row">
    <div class="col-lg-12">
        <div class="mb-3">
            <div class="row">
                <div class="example-centered">
                    <div class="mb-3">
                        <label class="form-label">Imagen de usuario*:</label>
                        <div style="margin: 5px; display: inline-grid;width:100%">
                            <div style="margin: 5px;display: block;margin-left: auto;margin-right: auto;width: auto;">
                                <img src="@Model.Customer.Picture" style="vertical-align:middle;width:150px;height:150px;border-radius:50%">
                            </div>
                            <InputFile OnChange="OnInputFileChange" multiple />
                        </div>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Nombre*:</label>
                        <input type="text" class="form-control" @bind="Model.Customer.Name">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Notas*:</label>
                        <textarea rows="3" class="form-control" @bind="Model.Customer.Note"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a @onclick="Cancel" class="btn btn-link link-secondary" data-dismiss="modal">
        Cancelar
    </a>
    <a @onclick="Confirm" class="btn btn-primary ms-auto" data-dismiss="modal">
        <Icon class="icon" Elements="@DemoIcons.Circle_plus" />
        Confirmar
    </a>
</div>
@using System.IO
@using Kit.Extensions
@using Kit.WPF.Extensions
@using MoyskleyTech.ImageProcessing.Image
@using Image = System.Drawing.Image
@inject IModalService ModalService
@code {


    protected override async Task OnInitializedAsync()
    {
        await Model.RequestLoad(CustomerId);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.Refreshed += Refreshed;
    }

    private void Refreshed(object sender, EventArgs e)
    {
        (sender as IRefresh).Refreshed -= Refreshed;
        StateHasChanged();
    }
    private Task Error(string error)
    {
        return ModalService.ShowAsync($"Alerta",
            new RenderComponent<DialogTest>().Set(x => x.Line1, error),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true });
    }
    [Parameter] public int CustomerId { get; set; }
    private async Task Confirm()
    {
        string message = "¿Dar de alta este cliente";
        if (Model.Customer.Id > 0)
        {
            message = "¿Editar este cliente?";
        }

        var result = await ModalService.ShowAsync(Model.Customer.Name,
            new RenderComponent<DialogTest>().Set(x => x.Line1, message),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true });

        if (!result.Cancelled)
        {
            if (Model.Customer.Name == null || Model.Customer.Picture == null)
            {
                await Error("Ningun campo debe estar vacio");
                return;
            }
            else
            {
                Model.Customer.Save();

                ModalService.Close(ModalResult.Ok());
            }
        }
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }
    IReadOnlyList<IBrowserFile> selectedFiles;
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        OnSubmit();
    }
    private async void OnSubmit()
    {
        if (selectedFiles?.Any() ?? false)
        {
            var file = selectedFiles.First();
            Model.Customer.Picture = await AppData.Compress(file);


        }
        this.StateHasChanged();
    }
}
