@using Microsoft.AspNetCore.Components
@using CucoStore.Docs.Components.Icons
@using CucoStore.Docs.Interfaces
@using CucoStore.Docs.ViewModels

<div class="row">

    <div class="col-lg-6" style="width: 50%">
        <Datepicker Inline="true" @bind-SelectedDate="Rango.Inicio" Label="Desde" />
    </div>

    <div class="col-lg-6" style="width: 50%">
        <Datepicker Inline="true" @bind-SelectedDate="Rango.Fin" Label="Hasta" />
    </div>
    <div>
        <Checkbox Switch="true" @bind-value="Rango.TodasLasFechas" Label="Todas las fechas"/>
    </div>

</div>
<div class="modal-footer">
    <a @onclick="Cancel" class="btn btn-link link-secondary" data-dismiss="modal">
        Cancelar
    </a>
    <a @onclick="Confirm" class="btn btn-primary ms-auto" data-dismiss="modal">
        <Icon class="icon" Elements="@DemoIcons.Message_report" />
        Confirmar
    </a>
</div>
@using System.IO
@using Kit.Extensions
@using Kit.WPF.Controls.RangoFechas
@using Kit.WPF.Extensions
@using CucoStore.Docs.Models
@inject IModalService ModalService
@code {
    Rango Rango { get; set; }

    public DateFilter()
    {
        Rango = new Rango();
        Rango.Fin=DateTime.Now.AddDays(7);
    }

    private void Confirm()
    {
        ModalService.Close(ModalResult.Ok(Rango));
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }

}
