@using Microsoft.AspNetCore.Components
@using Tabler.Docs.Components.Icons
@using Tabler.Docs.Interfaces
@using Tabler.Docs.ViewModels
@inject ProveedoresViewModel Model
<div class="row">
    <div class="col-lg-12">
        <div class="mb-3">
            <div class="row">
                <div class="example-centered">
                    <div class="mb-3">
                        <label class="form-label">Imagen de usuario*:</label>
                        <div style="margin: 5px; display: inline-grid;width:100%">
                            <div style="margin: 5px;display: block;margin-left: auto;margin-right: auto;width: auto;">
                                <img src="@Model.Supplier.Picture" style="vertical-align:middle;width:150px;height:150px;border-radius:50%">
                            </div>
                            <InputFile OnChange="OnInputFileChange" multiple />
                        </div>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Nombre*:</label>
                        <input type="text" class="form-control" @bind="Model.Supplier.Name">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Celular*:</label>
                        <input type="text" class="form-control" @bind="Model.Supplier.Cellphone">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Notas*:</label>
                        <textarea rows="3" class="form-control" @bind="Model.Supplier.Notes"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a @onclick="Cancel" class="btn btn-link link-secondary" data-dismiss="modal">
        Cancelar
    </a>
    <a @onclick="Confirm" class="btn btn-primary ms-auto" data-dismiss="modal">
        <Icon class="icon" Elements="@DemoIcons.Circle_plus" />
        Confirmar
    </a>
</div>
@using System.IO
@using Kit.Extensions
@inject IModalService ModalService
@code {
    [Parameter] public int ProveedorId { get; set; }
    private async Task Confirm()
    {

        var result = await ModalService.ShowAsync($"Confirme alta",
            new RenderComponent<DialogTest>().Set(x => x.Line1, "¿Dar de alta este proveedor?"),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true,CloseOnClickOutside = false});

        if (!result.Cancelled)
        {
            Model.Supplier.Save();
            ModalService.Close(ModalResult.Ok());
        }
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }
    IReadOnlyList<IBrowserFile> selectedFiles;
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        OnSubmit();
    }
    private async void OnSubmit()
    {
        if (selectedFiles?.Any() ?? false)
        {
            var file = selectedFiles.First();
            using (Stream stream = file.OpenReadStream())
            {
                Model.Supplier.Picture = await stream.ToImageString();
            }
        }
        this.StateHasChanged();
    }
}
