@using Microsoft.AspNetCore.Components
@using Tabler.Docs.Components.Icons
@using Tabler.Docs.Interfaces
@using Tabler.Docs.ViewModels
@inject UsuarioViewModel Model
<div class="row">
    <div class="col-lg-12">
        <div class="mb-3">
            <div class="row">
                <div class="example-centered">
                    <div class="mb-3">
                        <label class="form-label">Imagen de usuario*:</label>
                        <div style="margin: 5px; display: inline-grid;width:100%">
                            <div style="margin: 5px;display: block;margin-left: auto;margin-right: auto;width: auto;">
                                <img src="@Model.Usuario.Picture" style="vertical-align:middle;width:150px;height:150px;border-radius:50%">
                            </div>
                            <InputFile OnChange="OnInputFileChange" multiple />
                        </div>

                    </div>
                </div>
                <div class="example-centered">
                    <div class="mb-3">
                        <label class="form-label">NickName*:</label>
                        <input type="text" class="form-control" @bind="Model.Usuario.Nickname">
                    </div>
                </div>
                <div class="example-centered">
                    <div class="mb-3">
                        <label class="form-label">Nombre*:</label>
                        <input type="text" class="form-control" @bind="Model.Usuario.Name">
                    </div>
                </div>
                <div class="example-centered">
                    <div class="mb-3">
                        <label class="form-label">Password*:</label>
                        <input type="password" class="form-control" @bind="Model.Usuario.Password">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <Checkbox Label="Solo lectura" @bind-Value="Model.Usuario.Permissions.ReadOnly" Changed="StateHasChanged" Switch />
                    </div>
                    <div class="col-md-6">
                        <Checkbox Label="Derechos sobre usuarios" @bind-Value="Model.Usuario.Permissions.UserManager" Changed="StateHasChanged" Switch />
                    </div>
                    <div class="col-md-6">
                        <Checkbox Label="Privilegio Entradas" @bind-Value="Model.Usuario.Permissions.StockIn" Changed="StateHasChanged" Switch />
                    </div>
                    <div class="col-md-6">
                        <Checkbox Label="Privilegio Salidas" @bind-Value="Model.Usuario.Permissions.StockOut" Changed="StateHasChanged" Switch />
                    </div>
                    <div class="col-md-6">
                        <Checkbox Label="Privilegio Reporte" @bind-Value="Model.Usuario.Permissions.ReadReports" Changed="StateHasChanged" Switch />
                    </div>

                </div>



            </div>
        </div>
    </div>

</div>


<div class="modal-footer">
    <a @onclick="Cancel" class="btn btn-link link-secondary" data-dismiss="modal">
        Cancelar
    </a>
    <a @onclick="Confirm" class="btn btn-primary ms-auto" data-dismiss="modal">
        <Icon class="icon" Elements="@DemoIcons.Circle_plus" />
        Confirmar
    </a>
</div>
@using System.IO
@using Kit.Extensions
@inject IModalService ModalService
@code {

    protected override async Task OnInitializedAsync()
    {
        await Model.RequestLoad(UserId);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.Refreshed += Refreshed;
    }

    private void Refreshed(object sender, EventArgs e)
    {
        (sender as IRefresh).Refreshed -= Refreshed;
        StateHasChanged();
    }
    [Parameter] public int UserId { get; set; }
    private async Task Confirm()
    {
        string message = "¿Dar de alta este usuario?";
        if (this.Model.Usuario.Id > 0)
        {
            message = "¿Editar este usuario?";
        }

        var result = await ModalService.ShowAsync(Model.Usuario.Name,
            new RenderComponent<DialogTest>().Set(x => x.Line1, message),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = false });

        if (!result.Cancelled)
        {
            await Model.Usuario.Save();
            ModalService.Close(ModalResult.Ok());
        }
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }

    IReadOnlyList<IBrowserFile> selectedFiles;
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        OnSubmit();
    }
    private async void OnSubmit()
    {
        if (selectedFiles?.Any() ?? false)
        {
            var file = selectedFiles.First();
            using (Stream stream = file.OpenReadStream())
            {
                Model.Usuario.Picture = await stream.ToImageString();
            }
        }
        this.StateHasChanged();
    }
}
